<!DOCTYPE html>

<html lang="en">
<head> 
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
	<style>
		textarea {
			resize: none
		}
	</style>
</head>
<body>	
	<h1> {{ .title }} </h1>
	<div>
		<select name="options" hx-get="options" hx-target="#process">
			<option value="purchase">purchase</option>
			<option value="return">return</option>
		</select>
	</div>
	<br>
	<div>
		<form id="process">
			<button hx-post="purchase" hx-trigger="click" hx-swap="innerHTML" hx-target=".result"> 
			purchase
			</button>
			<div>
				<p>row:
				<input id="row" name="row">
				</p>
				<p>column:
				<input id="column" name="column">
				</p>
			</div>
		</form>
	</div>

	<div class="result"></div>
</body>
</html>
